{% extends 'baseBack.html.twig' %}

{% block body %}
    <main id="main" class="main">
        <div class="container-fluid">
            <div class="row">
                
                <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <div class="pagetitle">
                        <h1>Votre panier</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active"><a href="liste-produits">Accueil</a></li>
                                <li class="breadcrumb-item active"><a href="panier">Panier</a></li>
                                <li class="breadcrumb-item active"><a href="commande">Commande</a></li>
                            </ol>
                        </nav>
                    </div><!-- Fin du titre de la page -->
                    <section class="section">
                      
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card shadow-lg p-3">
                                    <div class="card-body">
                                        {% for message in app.flashes('notice') %}
                                            <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% endfor %}
                                        {% for message in app.flashes('noticedelete') %}
                                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                                                {{ message }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% endfor %}
                                        <h5 class="card-title"></h5>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col">ProdId</th>
                                                        <th scope="col">Nom</th>
                                                        <th scope="col">Quantité</th>
                                                        <th scope="col">Prix</th>
                                                        <th scope="col">Total</th>
                                                        <th scope="col">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if panier | length == 0 %}
                                                        <tr>
                                                            <td colspan="6" class="text-center">Le panier est vide.</td>
                                                        </tr>
                                                    {% else %}
                                                        {% set totalPrix = 0 %}
                                                        {% for p in panier %}
                                                            <tr>
                                                                <td>{{ p.prodId }}</td>
                                                                <td>{{ p.nom }}</td>
                                                                <td>{{ p.quantite }}</td>
                                                                <td>{{ p.prix }} DT</td>
                                                                <td>{{ p.quantite * p.prix }} DT</td>
                                                                <td class="d-flex align-items-center">
                                                                    <a href="{{ path('modifier_panier',{idp:p.idp}) }}" class="btn btn-sm btn-primary me-2">Modifier</a>
                                                                    <a href="#" onclick="if(confirm('Voulez-vous vraiment supprimer ?')) { window.location='{{ path('supprimerPanier', {'idp': p.idp}) }}'; }" class="btn btn-sm btn-danger">Supprimer</a>
                                                                </td>
                                                            </tr>
                                                            {% set totalPrix = totalPrix + (p.quantite * p.prix) %}
                                                        {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="text-end mt-3">
                                            {% if panier | length == 0 %}
                                                <p>Total des prix :0 DT</p>
                                            {% else %}
                                                <p>Total des prix : {{ totalPrix }} DT</p>
                                            {% endif %}
                                            <a href="{{ path('liste_produits') }}" class="btn btn-outline-info">Ajouter autre produits</a>
                                            <a href="{{ path('ajouter_commande') }}" class="btn btn-outline-info">Passer votre commande</a>
                                        </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
