{% extends 'baseBack.html.twig' %}
{% block ENS %}

{% block title %}Enseignent index{% endblock %}

{% block body %}
    <h1>Enseignent index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ide</th>
                <th>Nome</th>
                <th>Prenome</th>
                <th>Email</th>
                <th>Matier</th>
                <th>Comptence</th>
                <th>Agee</th>
                <th>Langue</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignent in enseignents %}
            <tr>
                <td>{{ enseignent.ide }}</td>
                <td>{{ enseignent.nome }}</td>
                <td>{{ enseignent.prenome }}</td>
                <td>{{ enseignent.email }}</td>
                <td>{{ enseignent.matier }}</td>
                <td>{{ enseignent.comptence }}</td>
                <td>{{ enseignent.agee }}</td>
                <td>{{ enseignent.langue }}</td>
                <td>
                    <a href="{{ path('app_enseignent_show', {'ide': enseignent.ide}) }}">show</a>
                    <a href="{{ path('app_enseignent_edit', {'ide': enseignent.ide}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(enseignents) }}

        </tbody>
    </table>

    <a href="{{ path('app_enseignent_new') }}">Create new</a>

    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="get" action="{{ path('app_enseignent_index') }}">
                    <div class="input-group">

    <input class="form-control" type="text" name="search" placeholder="Search..." value="{{ app.request.query.get('search') }}">
    <button class="btn btn-primary" type="submit">Search</button>
    
                    </div>

</form>


{% endblock %}
{% endblock %}
