{#
/**
 * @file
 * Modèle pour la pagination KnpPaginatorBundle.
 */
#}
{% if pageCount > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo; Précédent</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">&laquo; Précédent</span>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="page-item active">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">Suivant &raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Suivant &raquo;</span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
